
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $footer-background;
  text-align: center;
  @media screen and (min-width:1200px){
    text-align: start;
    
  }
    
  & > .container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  @media screen and (min-width : 768px) {
    flex-direction: row;
    align-items:baseline;
  }

}}
.title_foter{
  color: #FFF;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.footer_list{
  align-items: center;
  display: inline-block;
  margin-left: 16px;
width: 116px;
height: 144px;
margin-top: 32px;
align-items: center;
}
footer{
  background-color: #000; 
   display: flex;
}
.footer_subtitle{
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}


