.delivery {
  max-width: 600px;
  margin: 0 auto;
  padding: 40px 20px;
  font-family: Arial, sans-serif;
}

.delivery h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  border-bottom: 2px solid black;
  display: inline-block;
  padding-bottom: 5px;
}

.delivery-steps {
  list-style: none;
  padding: 0;
  margin: 0 0 30px 0;
}

.delivery-steps li {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.delivery-steps .number {
  display: flex;
  justify-content: center;
  align-items: center;
     width: 30px;
   height: 30px;
   margin-right: 20px;
   outline: 1px solid black;
   border-radius: 50%;
   text-align: center;
   font-family: "Montserrat";
   font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;

flex-shrink: 0;
}

.delivery-steps p {
  margin: 0;
  font-size: 16px;
}

.delivery-image {
  width: 100%;
  height: auto;
  display: block;
}
.delivery_text{
  color: #000;
font-family: "Montserrat";
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.flowers-side{
  width: 100vw;      /* ширина экрана */
  margin-left: calc(-50vw + 50%); /* выровнять по краю экрана */
  display: block;
}