
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  @media screen and (min-width:1200px){
    text-align: start;
    
  }
    
  & > .container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  @media screen and (min-width : 768px) {
    flex-direction: row;
    align-items:baseline;
  }

}}
.title_foter{
  color: #FFF;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.footer_list{
  align-items: center;
  display: inline-block;
  margin-left: 16px;
width: 116px;
height: 144px;
margin-top: 32px;
align-items: center;
@media screen and (min-width : 768px) {
vertical-align: top;
margin-bottom: 30px;
width: auto;
margin-left: 44px;
}

}
.q{
  @media screen and (min-width : 768px) {
width: 116px;

    }
}
footer{
  background-color: #000; 
   display: flex;
}
.footer_subtitle{
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.footer__icon{

  width: 28px;
height: 28px;
flex-shrink: 0;
fill: #FFF;
background-color: #000;
@media screen and (min-width : 320px) {
  // position: relative;
margin-left: 40px;
}
@media screen and (min-width : 768px) {
  margin-left: 154px;
}
@media screen and (min-width : 1200px) {
margin-left: 400px;
}
}

.p{
  align-items: center;
  display: inline-block;
  margin-left: 16px;
// width: 116px;
// height: 144px;
margin-top: 32px;
align-items: center;
  margin-left: 50px;
  @media screen and (min-width : 320px) {
    display: flex;
  }
  @media screen and (min-width : 768px) {

  }
}

.list{
  position: absolute;
  align-items: center;
  display: inline-block;
  margin-left: 16px;
align-items: center;
@media screen and (min-width : 768px) {
vertical-align: top;
margin-bottom: 30px;
width: auto;
margin-left: 44px;
}}
.footer__logo{
  fill: #FFF;
  opacity: 1;
}